{% extends "gsplit/posts/post_base.html" %}
{% load static %}

{% block title %} <title>Home</title> {% endblock %}

{% comment %} {% block pre_post_content %}
<div class="col-md-4">

	{% if request.user.is_authenticated %}
	<div class="card card-with-shadow">
		<div class="content">
			<h5 class="title">Your Groups</h5>
			<ul class="list-unstyled">
				{# {% get_user_groups as user_groups %} #}

				{% for member_group in get_user_groups %}
				<li class="group li-with-bullet">
					<a href="{% url 'groups:single' slug=member_group.group.slug %}">{{ member_group.group.name }}</a>
				</li>
				{% endfor %}

			</ul>
		</div>
	</div>
	{% endif %}

	<div class="card card-with-shadow">
		<div class="content">
			<h5 class="title">All groups</h5>
			<ul class="list-unstyled">
				{# {% get_other_groups as other_groups %}#}
				{% for other_group in get_other_groups %}
					<li class="group li-with-bullet"><a href="{% url 'groups:single' slug=other_group.slug %}">{{ other_group.name }}</a></li>
				{% endfor %}
			</ul>
			



		</div>
	</div>
</div>
{% endblock %} {% endcomment %}

{% if  request.user.is_authenticated %}

	{% block post_content %}
	<div class='container'>

	<div class="col-md-8">
	{% if post_list.count == 0 %}
		<h1>No Posts Yet ! Go ahead and make one</h1>
	{% else %}
		{% for post in post_list %}
			{% include "gsplit/posts/post.html" %}
		{% endfor %}
	{% endif %}
	</div>
	</div>
	{% endblock %}

{% else %}
<div id="login-container">
    <center>

    <div class="container">
        <div style="padding: 10px"></div>
        <h1>Welcome To gSplit</h1>
        <div style="padding: 20px"></div>
        <h2>Create an account and join today!</h2>
         <div style="padding: 15px"></div>
        <h2>Already have an account?</h2>
        <h2>Sign in above</h2>

    </div>
    </center>
</div>
{% endif%}
