{% load static %}
<div class="card mb-3">

<div class="card-header">
<img class="post-icon" src="{% static 'gsplit/images/1.jpg'%}" alt='404'>
{{ post.owner.first_name }} {{post.owner.last_name}}
    <p class="card-text card-time"><small class="text-muted">{{post.created_at}}</small></p>
</div>

{% if post.cover %}
<img src="{{ post.cover.url}}" alt="" class="card-img-top">
{% endif %}

<div class="card-body">
<div class="description">
    <div class=" caption">
        <p class="card-text">
            <span class="bold">
                <a href="{% url 'test' %}">
                    {{post.owner}}
                </a></span>
            {{ post.message_html|safe }}
        </p>
    </div>
    <div>
        <span style="color: black; padding-right: 5px; font-size: 25px;font-weight: lighter">0</span>
        <div type="button" class="btn btn-light">Like</div>
        <i id="heart0" onclick="tg(this)" class="far fa-heart"></i>

    </div>
    
    {% if user.is_authenticated and post.owner == user %}
    <p>
    
    <a class="btn btn-danger" href="{% url 'delete' pk=post.pk %}">Delete</a>

</p>
{% endif %}

</div>
<hr>
<h3>Comments</h3>
{% for comment in post.comments.all %}
    <div class="comment">
        <p>{{comment.user}}: {{comment.content }}</p>
    </div>
{% empty %}
    <p>No comments</p>
{% endfor %}
</div>
</div>
