{% extends "gsplit/base.html" %}
{% load static %}

<!doctype html>
<html lang="en">

 {% block title %}<title>Friends</title>{% endblock %}

{% block content %}
<div id="Outer-timeline">
    <div class="inner-timeline-left">
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="{% static 'gsplit/images/jeff.jpg' %}" class="card-img" style="height: 9rem;width: 9rem">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                  <div class="Friends-card">
                      <div class="friend-text">
                            <h5 class="card-title" style="font-size: 30px">Jeff Bezos</h5>
                            <p class="card-text"><small class="text-muted">234,567,323 Friends</small></p>
                      </div>
                      <div>
                            <div class="dropdown">
                              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                # Group
                              </button>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <button class="dropdown-item" type="button">Public</button>
                                <button class="dropdown-item" type="button">Basic </button>
                                <button class="dropdown-item" type="button">Custom 1</button>
                                <button class="dropdown-item" type="button">Custom 2</button>
                              </div>
                            </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
         <div class="card mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="{% static 'gsplit/images/tim.jpg' %}" class="card-img" style="height: 9rem;width: 9rem">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                  <div class="Friends-card">
                      <div class="friend-text">
                            <h5 class="card-title" style="font-size: 30px">Jeff Bezos</h5>
                            <p class="card-text"><small class="text-muted">234,567,323 Friends</small></p>
                      </div>
                      <div>
                            <div class="dropdown">
                              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                # Group
                              </button>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <button class="dropdown-item" type="button">Public</button>
                                <button class="dropdown-item" type="button">Basic </button>
                                <button class="dropdown-item" type="button">Custom 1</button>
                                <button class="dropdown-item" type="button">Custom 2</button>
                              </div>
                            </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
         <div class="card mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="{% static 'gsplit/images/mark.jpg' %}" class="card-img" style="height: 9rem;width: 9rem">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                  <div class="Friends-card">
                      <div class="friend-text">
                            <h5 class="card-title" style="font-size: 30px">Jeff Bezos</h5>
                            <p class="card-text"><small class="text-muted">234,567,323 Friends</small></p>
                      </div>
                      <div>
                            <div class="dropdown">
                              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                # Group
                              </button>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <button class="dropdown-item" type="button">Public</button>
                                <button class="dropdown-item" type="button">Basic </button>
                                <button class="dropdown-item" type="button">Custom 1</button>
                                <button class="dropdown-item" type="button">Custom 2</button>
                              </div>
                            </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
         <div class="card mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="{% static 'gsplit/images/jeff.jpg' %}" class="card-img" style="height: 9rem;width: 9rem">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                  <div class="Friends-card">
                      <div class="friend-text">
                            <h5 class="card-title" style="font-size: 30px">Jeff Bezos</h5>
                            <p class="card-text"><small class="text-muted">234,567,323 Friends</small></p>
                      </div>
                      <div>
                            <div class="dropdown">
                              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                # Group
                              </button>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <button class="dropdown-item" type="button">Public</button>
                                <button class="dropdown-item" type="button">Basic </button>
                                <button class="dropdown-item" type="button">Custom 1</button>
                                <button class="dropdown-item" type="button">Custom 2</button>
                              </div>
                            </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
         <div class="card mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src= "{% static 'gsplit/images/jeff.jpg' %}" class="card-img" style="height: 9rem;width: 9rem">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                  <div class="Friends-card">
                      <div class="friend-text">
                            <h5 class="card-title" style="font-size: 30px">Jeff Bezos</h5>
                            <p class="card-text"><small class="text-muted">234,567,323 Friends</small></p>
                      </div>
                      <div>
                            <div class="dropdown">
                              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                # Group
                              </button>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <button class="dropdown-item" type="button">Public</button>
                                <button class="dropdown-item" type="button">Basic </button>
                                <button class="dropdown-item" type="button">Custom 1</button>
                                <button class="dropdown-item" type="button">Custom 2</button>
                              </div>
                            </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <nav aria-label="...">
          <ul class="pagination">
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active" aria-current="page">
              <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">Next</a>
            </li>
          </ul>
        </nav>
    </div>



    <div class="inner-timeline-right">

        {% for ad in ads %}
            <div class="card card-right">
                <img src="{% static ""%}{{ ad.0 }}" class="card-img-top add-card" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Advertisement</h5>
                    <p class="card-text"> {{ ad.1 }} </p>
                    <a href="#" class="btn btn-primary">Check It Out</a>
                </div>
            </div>
        {% endfor %}

    </div>



</div>
{% endblock %}

</html>
