{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'gsplit/style.css' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<!--    delete-->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/b6d5ddd578.js"></script> -->
<!--          delete-->
</head>

<nav class="navbar navbar-expand-lg navbar-light" style="background-image: linear-gradient(50deg, #f14b62 20%, #f6b669 74%); font-family: Verdana">
    <a class="navbar-brand" href="#">
        <div class="spinner-grow" style="width: 2rem; height: 2rem;" role="status">
         <span class="sr-only"></span>
        </div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">

        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="posts">Home <span class="sr-only">(current)</span></a>
            </li>
            <li><a href="{% url 'create' %}" class="nav-link btn btn-simple">New Post</a></li>
            <li><a href="#" class="nav-link btn btn-simple">Friends</a></li>
            <li><a href="{% url 'gsplit-chat' %}"class="nav-link btn btn-simple">Chat</a></li>
            <li><a href="{% url 'gsplit-profile' %}"class="nav-link btn btn-simple">{{user}}</a></li>
            <li><a href="{% url 'gsplit-logout' %}" class="btn btn-danger">Log out</a></li>

        {% else %}
            <li><a href="{% url 'gsplit-login' %}" class="btn btn-simple">Log in</a></li>
            <li><a href="{% url 'gsplit-create_acc' %}" class="btn btn-simple">Sign up</a></li>
        {% endif %}

{% comment %} {#
            <li class="nav-item active">#}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'gsplit-index' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'gsplit-profile' %}">Profile</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Friends
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">friend 1</a>
                    <a class="dropdown-item" href="#">friend 2</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'gsplit-friends' %}">All Friends</a>
                </div>
            </li>
             <li class="nav-item">
                <a class="nav-link" href="{% url 'gsplit-login' %}">Logout</a>
            </li>
            <li class="nav-item">
<!--                <a class="nav-link " href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
            </li>{% endcomment %}
        </ul>

        {% comment %} <form class="form-inline my-2 my-lg-0">
            <a class="nav-link" style="text-decoration: none; color: gray"  href="#">Post</a>
            <a class="nav-link" style="text-decoration: none; color: gray"  href="{% url 'gsplit-chat' %}">Chat</a>
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> {% endcomment %}
    </div>
</nav>

        {% block content %}
            Filler Content
        {% endblock %}


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
 <script type="text/javascript" src="{% static 'gsplit/script.js' %}"></script>
</body>


</html>