{% extends "gsplit/base.html" %}
{% load static %}
<!doctype html>
<html lang="en">
{% block title %}<title>Chat</title>{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-4 border-right" id="left-box">
            <div class="list-group">
                <h1> My Friends </h1>

                {% for friend in user.userprofile.followers.all %}
                    <a href= "#IDK" class="list-group-item  list-group-item-action d-flex justify-content-between align-items-center" style="padding: 5px 0 5px 0; border-top-width: 1px; margin-top: 20px">
                        <div class="card-body d-flex justify-content-between align-items-center">
                            <img src="{{ friend.user.userprofile.profile_pic.url}}" style="height: 4rem;width: 4rem">
                            <h5 class="card-title" style="font-size: 30px">{{ friend }}</h5>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>

        <div class="col-8" id="right-box">
            <div class="container">
                <div class="card mt-5 text-white bg-primary ml-auto" style="max-width: 18rem;">
                    <div class="card-body">
                        send.
                    </div>
                </div>
                <div class="card text-white bg-secondary mt-5 " style="max-width: 18rem;">
                    <div class="card-body">
                        recv.
                    </div>
                </div>
            </div>
{#            <textarea id="chat-log" cols="80" rows="20"></textarea><br>#}
            <input id="room-name-input" type="text" size="100"><br>
            <input id="room-name-submit" type="button" value="Enter">
{#            <div class="mb-3 w-50 " style=" position: fixed; bottom: 2rem; margin-bottom: 30px">#}
{#                <input id="chat-message-input" type="text" size="80">#}
{#                <input id="chat-message-submit" type="button" value="Send">#}
{#            </div>#}
{#            {{ chatter_name|json_script:"chatter-name" }}#}
        </div>
    </div>
{% endblock %}
</html>
