{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'gsplit/style.css' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<!--    delete-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/b6d5ddd578.js"></script>
<!--          delete-->
    <title>Create Account</title>
</head>
<body>

<div id="login-container">

    <center>

        <form id="login-box">
            <div class="form-col align-items-center">
               <div class="spinner-border" style="width: 15rem; height: 15rem;" role="status">
                </div>
                <div id="username">
                  <label class="sr-only" for="inlineFormInputGroup">Username</label>
                  <div class="input-group mb-2">
<!--                    <div class="input-group-prepend">-->
<!--                      <div class="input-group-text" id="at">@</div>-->
<!--                    </div>-->
                    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Enter Username">
                  </div>
                    <br>
                </div>

                <div id="password">
                  <label class="sr-only" for="inlineFormInput">Name</label>
                  <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Enter Email">
                </div>
                <div id="password">
                    <label class="sr-only" for="inlineFormInput">Name</label>
                    <input type="password" class="form-control mb-2" id="inlineFormInput" placeholder="Enter Password">
                </div>
                
                <div id="password">
                    <label class="sr-only" for="inlineFormInput">Name</label>
                    <input type="password" class="form-control mb-2" id="inlineFormInput" placeholder="Confirm Password">
                </div>

                </div>
                <div class="col-auto">
                    <a  type="submit" href="index.html" class="btn btn-primary mb-2">Create Account</a>
                </div>
             </div>
        </form>
    </center>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
 <script type="text/javascript" src={% static 'gsplit/script.js' %}></script>
</body>
</html>