{% extends "gsplit/base.html" %}
{% load static %}
<!doctype html>
<html lang="en">

 {% block title %}<title>Gsplit</title>{% endblock %}

 {% block content %}
<div id="login-container">
    <center>

    <div class="container">
        <div style="padding: 10px"></div>
        <h1>FACEGRAM</h1>
        <div style="padding: 20px"></div>
        <h2>Create an account and join today!</h2>
         <div style="padding: 15px"></div>
        <h2>Already have an account?</h2>
        <h2>Sign in above</h2>

    </div>
    </center>
</div>


{% endblock %}
</html>
