{% extends "gsplit/base.html" %}
{% load static %}

     {% block title %}<title>Profile</title>{% endblock %}



{% block content %}

<div id="Outer-timeline">

    <div class="inner-timeline-left-profile">


        <div id="profile">
            <div id="my-image">
                <img src="{% static 'gsplit/images/2.jpg'%}" alt="image" width="743" height="743">
            </div>
            <div id="profile-me">
                <div >
                    <center>
                         <h1 id="name">

                        Full Name
                    </h1>
                    </center>
                </div>
                 <div class="card ">
                  <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                      <li class="nav-item">
                        <a class="nav-link active" href="#">About</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Post</a>
                      </li>
                      <li class="nav-item">
                         <a class="nav-link" href="#">Photos</a>
                      </li>
                    </ul>
                  </div>
                  <div class="card-body">
                    “I’m selfish, impatient and a little insecure.
                      I make mistakes, I am out of control and at
                      times hard to handle. But if you can’t handle
                      me at my worst, then you sure as hell don’t
                      deserve me at my best.”
                  </div>
                </div>
            </div>



            <div id="profile-left">

                {% for post in posts %}
                     <div class="card mb-3">

                    <div class="card-header">
                        <img class="post-icon" src="{% static ""%} {{ post.profile_pic }}">
                        {{ post.username }}
                        <p class="card-text card-time"> <small class="text-muted"> {{post.upload_time}} </small></p>
                    </div>

                    {% if post.has_photo %}
                    <img src="{% static ""%}{{ post.photo }}" class="card-img-top" alt="...">
                         {%endif%}

                    <div class="card-body">
                        <div class="description">
                            <div class=" caption">
                                <p class="card-text  "> <span class="bold"> {{post.username}} </span>
                                    post.caption
                                </p>
                            </div>
                            <div>
                                <span style="color: black; padding-right: 5px; font-size: 25px;font-weight: lighter">{{post.likes}}</span>
                                <div type="button" class="btn btn-light"><3</div>
                                <i id="heart0" onclick="tg(this)" class="far fa-heart"></i>

                            </div>

                        </div>

                        <p>
                            <button class="btn btn-light" type="button" data-toggle="collapse" data-target="{{post.id}}"
                                    aria-expanded="false" aria-controls="collapseExample">
                                Comments
                            </button>
                        </p>

                        <div class="collapse" id="{{post.id}}">
                             <div class="card card-body">
                            {% for comment in comments %}
                                    <div class="comment">
                                        <span class="bold">{{comment.commenter}} </span> {{comment.comment}}
                                    </div>
                            {% endfor %}
                             </div>
                        </div>


                    </div>
                </div>
                {% endfor %}

<!--                <div class="card mb-3">-->


<!--                    <div class="card-header">-->
<!--                        <img class="post-icon" src="{% static 'gsplit/images/3.jpg' %}">-->
<!--                        Full Name-->
<!--                        <p class="card-text card-time"><small class="text-muted">16 Hrs ago</small></p>-->
<!--                    </div>-->


<!--                    <img src="{% static 'gsplit/images/1.jpg' %}" class="card-img-top" alt="...">-->
<!--                    <div class="card-body">-->
<!--                        <div class="description">-->
<!--                            <div class=" caption">-->
<!--                                <p class="card-text  "><span class="bold">Full Name </span>This is a wider card with-->
<!--                                    supporting-->
<!--                                    text below as a-->
<!--                                    natural lead-in to additional content. This content is a little bit longer.-->
<!--                                </p>-->
<!--                            </div>-->
<!--                            <div>-->
<!--                                &lt;!&ndash;                        <div type="button" class="btn btn-light"><3</div>&ndash;&gt;-->
<!--                                <i onclick="myFunction()" id="fuck" class="far fa-heart"></i>-->

<!--                            </div>-->

<!--                        </div>-->
<!--                        <p>-->
<!--                            <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#post1"-->
<!--                                    aria-expanded="false" aria-controls="collapseExample">-->
<!--                                Comments-->
<!--                            </button>-->
<!--                        </p>-->
<!--                        <div class="collapse" id="post1">-->
<!--                            <div class="card card-body">-->
<!--                                <div class="comment">-->
<!--                                    <span class="bold">me </span> sup-->
<!--                                </div>-->
<!--                                <div class="comment">-->
<!--                                    <span class="bold">boy </span> Lit-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->


<!--                <div class="card mb-3">-->


<!--                    <div class="card-header">-->
<!--                        <img class="post-icon" src="{% static 'gsplit/images/2.jpg'%}">-->
<!--                        Full Name-->
<!--                        <p class="card-text card-time"><small class="text-muted">16 Hrs ago</small></p>-->
<!--                    </div>-->


<!--                    <div class="card-body">-->
<!--                        <div class="description">-->
<!--                            <div class=" caption">-->
<!--                                <h5 class="card-title"> TExt TEx tTEx tTExt </h5>-->
<!--                                <p class="card-text">With supporting text below as a natural lead-in to additional-->
<!--                                    content.</p>-->
<!--                            </div>-->
<!--                            <div>-->
<!--                                <div type="button" class="btn btn-light"><3</div>-->
<!--                            </div>-->
<!--                        </div>-->


<!--                        <p>-->
<!--                            <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#gt"-->
<!--                                    aria-expanded="false" aria-controls="gt">-->
<!--                                Comments-->
<!--                            </button>-->
<!--                        </p>-->
<!--                        <div class="tg collapse" id="gt">-->
<!--                            <div class="card card-body">-->
<!--                                <div class="comment">-->
<!--                                    <span class="bold">me </span> sup-->
<!--                                </div>-->
<!--                                <div class="comment">-->
<!--                                    <span class="bold">boy </span> Lit-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->


<!--                    </div>-->
<!--                </div>-->


<!--                <div class="card mb-3">-->


<!--                    <div class="card-header">-->
<!--                        <img class="post-icon" src="{% static 'gsplit/images/2.jpg'%}">-->
<!--                        Full Name-->
<!--                        <p class="card-text card-time"><small class="text-muted">16 Hrs ago</small></p>-->
<!--                    </div>-->


<!--                    <img src="{% static 'gsplit/images/1.jpg'%}" class="card-img-top" alt="...">-->

<!--                    <div class="card-body">-->

<!--                        <div class="description">-->
<!--                            <div class=" caption">-->
<!--                                <p class="card-text">-->
<!--                                    <span class="bold">Full Name </span>-->
<!--                                    This is a wider card with supporting text below as a-->
<!--                                    natural lead-in to additional content. This content is a little bit longer.-->
<!--                                </p>-->
<!--                            </div>-->

<!--                            <div>-->
<!--                                <div type="button" class="btn btn-light"><3</div>-->
<!--                            </div>-->
<!--                        </div>-->


<!--                        <p>-->
<!--                            <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#post2"-->
<!--                                    aria-expanded="false" aria-controls="collapseExample">-->
<!--                                Comments-->
<!--                            </button>-->
<!--                        </p>-->
<!--                        <div class="collapse" id="post2">-->
<!--                            <div class="card card-body">-->
<!--                                <div class="comment">-->
<!--                                    <span class="bold">me </span> sup-->
<!--                                </div>-->
<!--                                <div class="comment">-->
<!--                                    <span class="bold">boy </span> Lit-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->


<!--                    </div>-->
<!--                </div>-->


<!--                <div class="card mb-3">-->
<!--                    <div class="card-header">-->
<!--                        <img class="post-icon" src="{% static 'gsplit/images/2.jpg'%}">-->
<!--                        Full Name-->
<!--                        <p class="card-text card-time"><small class="text-muted">16 Hrs ago</small></p>-->
<!--                    </div>-->


<!--                    <img src="{% static 'gsplit/images/3.jpg'%}" class="card-img-top" alt="...">-->
<!--                    <div class="card-body">-->
<!--                        <div class="description">-->
<!--                            <div class=" caption">-->
<!--                                <p class="card-text  "><span class="bold">Full Name </span>This is a wider card with-->
<!--                                    supporting-->
<!--                                    text below as a-->
<!--                                    natural lead-in to additional content. This content is a little bit longer.-->
<!--                                </p>-->
<!--                            </div>-->
<!--                            <div>-->
<!--                                <div type="button" class="btn btn-light"><3</div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <p>-->
<!--                            <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#post4"-->
<!--                                    aria-expanded="false" aria-controls="collapseExample">-->
<!--                                Comments-->
<!--                            </button>-->
<!--                        </p>-->
<!--                        <div class="collapse" id="post4">-->
<!--                            <div class="card card-body">-->
<!--                                <div class="comment">-->
<!--                                    <span class="bold">me </span> sup-->
<!--                                </div>-->
<!--                                <div class="comment">-->
<!--                                    <span class="bold">boy </span> Lit-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->


                <div class="card">
                    <center class="card-body">
                        You have reached the end!
                    </center>
                </div>

            </div>

            <div id="profile-right">
                <div class="card">
                  <div class="card-body">
                    Friends
                  </div>
                </div>
                <div class="card-deck" style="padding-top: 20px">
                    <div class="card">
                        <img src="{% static 'gsplit/images/jeff.jpg'%}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This card has supporting text below as a natural lead-in to additional
                                content.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                    <div class="card">
                        <img src="{% static 'gsplit/images/tim.jpg'%}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This card has even longer content than the first to show that equal
                                height action.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>


</div>

{% endblock %}

