{% extends "gsplit/base.html" %}
{% load static %}

<!doctype html>
<html lang="en">

     {% block title %}<title>Profile</title>{% endblock %}



{% block content %}
<div id="Outer-timeline">
    <div class="inner-timeline-left-profile">
        <div id="profile">

            <div id="my-image">
                <img src="{{userprofile.profile_pic.url}}" alt="image" width="743" height="743">
            </div>
            <div id="profile-me">
                    <span id=follower-count style="font-size: 20px; font-weight: lighter"> Followers: {{userprofile.followers.count}} </span>
                    {% if userprofile.user == user %}
                        <br>
                         <a class="btn btn-danger" style="border-radius: 100px; width: 8%" href="{% url 'gsplit-edit' %}"></i>Edit</a>
                    {% else %}
                        <div style="padding: 10px; ">
                            <form data-id = follow-{{userprofile.pk}}>
                                <input data-id = follow-{{userprofile.pk}} name="current_user" value="{{user.pk}}" type="hidden">
                                <button type ="button" class="btn btn-primary submit-follow" style="border-radius: 100px; width: 15%" data-id={{userprofile.pk}}>
                                    Follow
                                </button>
                            </form>
                        </div>
                    {% endif %}
                <div >
                    <center>
                         <h1 id="name">

                        {{userprofile.user.username}}

                    </h1>
                    <h4> {{userprofile.user.first_name}} {{userprofile.user.last_name}}</h4>
                    </center>
                </div>
                 <div class="card ">
                  <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                      <li class="nav-item">
                        <a class="nav-link active" href="#">About</a>
                      </li>
                    </ul>
                  </div>
                  <div class="card-body">
                    {{userprofile.bio}}

                  </div>
                </div>
            </div>
            <div id="profile-left">
		        {% for post in user_posts %}
			        {% include "gsplit/posts/post.html" %}
		        {% endfor %}

            </div>
<!--            <div id="profile-right">-->
<!--                <div class="card">-->
<!--                  <div class="card-body">-->
<!--                    Friends-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="card-deck" style="padding-top: 20px">-->
<!--                    <div class="card">-->
<!--                        <img src="{% static 'gsplit/images/jeff.jpg'%}" class="card-img-top" alt="...">-->
<!--                        <div class="card-body">-->
<!--                            <h5 class="card-title">Card title</h5>-->
<!--                            <p class="card-text">This card has supporting text below as a natural lead-in to additional-->
<!--                                content.</p>-->
<!--                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="card">-->
<!--                        <img src="{% static 'gsplit/images/tim.jpg'%}" class="card-img-top" alt="...">-->
<!--                        <div class="card-body">-->
<!--                            <h5 class="card-title">Card title</h5>-->
<!--                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to-->
<!--                                additional content. This card has even longer content than the first to show that equal-->
<!--                                height action.</p>-->
<!--                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--            </div>-->

        </div>
    </div>

</div>

{% endblock %}
</html>