{% extends "gsplit/base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block title %}<title>Chat Room</title>{% endblock %}
{% block content %}

<body>
    <center style="margin-top: 3rem">
        <h1 style="font-family: Verdana; font-weight: lighter " >CHATBOX </h1>
    </center>
    <div class="container"  style="border-style: solid; padding-bottom: 10px;">
        <ul id="chat-box"  class="container">
<!--                <li class="card mt-5 text-white bg-primary" style="max-width: 18rem;">-->
<!--                    Chat-room &#45;&#45; 1-->
<!--                </li>-->
        </ul>
    <br>
    <div class="container">
        <input id="chat-input" type="text" size="60">
        <input data-id = {{user.username}} id="chat-submit" type="button" value="Send" class="btn btn-warning">
    </div>
    </div>
    {{ room_name|json_script:"room-name" }}
    {{ username|json_script:"username" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        const uss = JSON.parse(document.getElementById('username').textContent);
        const chatSocket = new WebSocket('ws://' + window.location.host + '/ws/chat/' + roomName + '/');
        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            if (data.message != "") {
                 let auth = data.from;
                    var bttn = document.createElement('button');
                    var ptag = document.createElement('h5');
                     if ( auth === uss) {
                        bttn.className = 'card mt-5 text-white bg-primary ml-auto';
                      } else {
                        bttn.className = 'card mt-5 text-white bg-secondary';
                      }
                    ptag.textContent = auth + " - " + data.message;
                    bttn.appendChild(ptag);
                    document.querySelector('#chat-box').appendChild(bttn);
            }
        };
        document.querySelector('#chat-input').focus();
        document.querySelector('#chat-input').onkeyup = function(event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                document.querySelector('#chat-submit').click();
            }
        };
        document.querySelector('#chat-submit').onclick = function(e) {
            let uses = $(this).data('id');
            const vall = document.querySelector('#chat-input');
            const message = vall.value;
            chatSocket.send(JSON.stringify({
                'message': message,
                'from': uses
            }));
            vall.value = '';
        };
    </script>
</body>
{% endblock %}
</html>